altair==5.0.1
astor==0.8.1
attrs==21.2.0
autograd==1.5
autograd-gamma==0.5.0
backports.entry-points-selectable==1.1.1
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.0.3
contourpy==1.0.6
cycler==0.11.0
distlib==0.3.3
filelock==3.3.2
Flask==2.0.2
fonttools==4.38.0
formulaic==0.5.2
future==0.18.2
gitdb==4.0.10
GitPython
idna==3.4
importlib-metadata
interface-meta
itsdangerous
Jinja2
jsonschema
kiwisolver
lifelines
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
packaging
pandas
pep517
Pillow
platformdirs
protobuf
pyarrow
pybase64==1.2.3
pydeck
Pygments
Pympler
pyparsing
pyproject-toml
pyrsistent
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim==0.1.0.post0
requests
rich
scipy
six
smmap
streamlit
tenacity
toml
tomli
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
virtualenv
Werkzeug
wrapt
zipp
